@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&display=swap');

:root {
    --white-btn-border: 2px solid white;
    --black-btn-border: 2px solid black;
    --black-btn-bg-hover: rgb(24, 24, 24);
    --white-btn-bg-hover: rgb(224, 219, 219);
    --main-bg-clr: #181818;
    --font: 'Raleway', sans-serif;
    --decor-font: 'Roboto Mono', monospace;
    --secondary-clr: #daa676;
    --secondary-clr-shade: rgba(218, 166, 118, 0.934);
}



* {
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color:var(--main-bg-clr);
    color: white;
    text-align: center;
}

main {
    margin: 1rem;
}


h1 {
    font-size: 3rem;
    font-family: var(--decor-font);
   margin: 0;
    color: var(--secondary-clr);
    opacity: 0;
    position: relative;
    bottom: 100px;
    transition: all 700ms ease-in;
}

.form-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

input {
    color: white;
    background-color: transparent;
    width: 40%;
    border: none;
    border-bottom: 2px solid white;
    font-weight: bold;
    padding: 0 0 .2rem .5rem;
    caret-color: var(--secondary-clr);
    font-size: 1rem;
    transition: 100ms ease-in-out;
}


#submit-btn {
    text-align: center;
    background-color: transparent;
    color: white;
    transition: 100ms ease-in-out;
    position: relative;
    overflow: hidden;
    line-height: 2.5rem;
    padding: 0;
    border: 2px solid var(--secondary-clr);
}

#submit-btn::after{
    content: "✔";
    position: absolute;
    right: -10%;
    opacity: 0;
    transition: 200ms ease;
}

#submit-btn:hover::after{
    right: 12%;
    opacity: 1;
}

#submit-btn:hover {
    background-color: var(--secondary-clr);
}

#submit-btn:active{
    background-color: rgb(217, 163, 113);
}

input:focus,
input:active {
    outline: none;
    border-bottom: 4px solid var(--secondary-clr);
}

button {
    border-radius: 5px;
    padding: .5rem 0;
    width: 8rem;
    font-size: 1.2rem;
    transition: all 100ms ease-in;
}

/* ===== FORMATING BUTTONS ===== */
.formatSec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formatSec-toggler {
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
    background-color: transparent;
    border: var(--white-btn-border);
    color: white;
    border-radius: 0px;
    margin-top: 1rem;
}

#formatSec-toggler:hover {
    color: var(--secondary-clr);
}

#formatting-btn-panel {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin-top: 1rem;
}

.formatting-panel-btn-active {
    background-color: white;
    color: black;
    border: var(--black-btn-border);
}

.formatting-panel-btn-inactive {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.formatting-panel-btn-inactive:hover {
    background-color: var(--black-btn-bg-hover);
}

.formatting-panel-btn-active:hover {
    background-color: var(--white-btn-bg-hover);
    color: black;
}

/* SECTION 2: ARRAY CANVAS */
.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 5px;
    width: 70%;
    min-height: 50vh;
    margin-inline: auto;
}

#canvas {
    margin: 1rem;
    border-radius: 5px;
    min-height: 6rem;
    text-align: center;
}

.sec2-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    top: -55px;
    gap: 1rem;
}

#copy-btn {
    background-color: black;
    border: var(--white-btn-border);
    color: white;
}

#copy-btn:hover {
    background-color: var(--black-btn-bg-hover);
}

#copy-btn {
    position: relative;
}

#clear-btn {
    background-color: var(--secondary-clr);
    color: white;
}

#clear-btn:hover {
    background-color: var(--secondary-clr-shade);
}

.copy-btn-copied::before {
    content: "copied";
    left: 50%;
    position: absolute;
    top: -1rem;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 300ms ease-in-out;
}

#stringify-everything-btn:hover {
    background-color: var(--white-btn-bg-hover);
}

.generated-arr {
    font-size: 1.5rem;
}

details {
    width: 70%;
    margin: 1.5rem auto;
    color: var(--secondary-clr);
}

details img {
    width: 40%;
    margin-bottom: 3rem;
    border-radius: 10px;
}

/* MEDIA QUERIES FOR MOBILE */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }

    input {
        width: 100%;
        margin-bottom: 1rem;
    }

    #formatSec-toggler {
        width: 100%;
    }

    .sec2-btns {
        flex-direction: column;
    }

    #submit-btn {
        width: 100%;
    }

    #clear-btn {
        margin: 1rem 0 0;
    }

    .sec2 {
        width: 100%;
        min-height: 50vh;
        margin-bottom: 3rem;
        padding: 1rem;
    }

    #canvas {
        margin: 0;
        min-height: 60vh;
    }

    details img {
        width: 100%;
        margin-bottom: 3rem;
    }

}